* {
  padding: 0;
  margin: 0;
}

.get-in-touch {
  text-align: center;
}

.info {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  justify-content: center;
  list-style-type: none;
  padding: 0 15px;
}

.info li svg {
  color: #08006c;
  /* margin: 25px; */
}

.info li p {
  color: #000;
  font-size: 19px;
  font-weight: 600;
}

.c-header {
  color: #08006c;
  font-size: 32px;
  font-weight: 900;
  letter-spacing: -1px;
  text-transform: uppercase;
  margin: 0 0 25px 0;
}

.c-parg {
  font-size: 19px;
  font-weight: 400;
  line-height: 1.5em;
  max-width: 600px;
  margin: 20px auto;
}

.svg-wrapper {
  width: 60px;
  height: 60px;
  background-color: #ecf6ff;
  border-radius: 15px;
  display: flex;
  margin: 25px auto;
  justify-content: center;
  align-items: center;
}

.input-wrapper {
  display: flex;
  justify-content: center;
  gap: 5%;
  margin: 80px 0 40px 0;
}

.input-wrapper > div {
  display: flex;
  flex-direction: column;
  width: 400px;
}

.msg-input {
  height: 100%;
  resize: none;
}

.input-wrapper input {
  border: none;
  background-color: #8497bb2e;
  margin: 5px 0 15px 0;
  border-radius: 5px;
  height: 32px;
  padding: 0 10px;
}

.input-wrapper textarea {
  margin: 5px 0 15px 0;
  border: 1px solid #8497bb8a;
  border-radius: 5px;
  height: 150px;
  padding: 10px;
}

.input-wrapper label {
  text-align: start;
}

.send-msg-btn {
  all: unset;
  background-color: #0019a3;
  color: #fff;
  border-radius: 5px;
  padding: 10px 40px;
}

@media screen and (max-width: 450px) {
  .info li p {
    font-size: 16px;
  }

  .input-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .info {
    display: block;
  }

  .info > li {
    display: flex;
    align-items: center;
    gap: 15px;
  }

  .svg-wrapper {
    margin: 10px 0;
  }

  .info p {
    max-width: 200px;
  }
}

@media screen and (max-width: 400px) {
  .input-wrapper > div {
    width: 375px;
  }
}

@media screen and (max-width: 350px) {
  .input-wrapper > div {
    width: 320px;
  }
}
